body {
    margin: 0px;
    padding: 00px;
    gap: 0px;
    height: 100vh;
    background-color: #fff4f6 ;
    background-image: url(/assets/img/moldura.svg);
    background-size: 2350px;         
    background-position: center;    
    background-repeat: no-repeat;
}

.bloco_principal {
    place-items: center;
}

img {
    margin: 0px;
    padding-top: 150px;
    height: 300px;
    width: auto;
}

h1 {
    margin: 0px;
    padding-top: 60px;
    font-size: 90px;
    color: #553c21;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
}

a {
    text-decoration: none;
    display: block;
    margin: 0px;
    margin-top: 7%;
    font-size: 50px;
    font-weight: bold;
    color: #281704;
    padding: 22px;
    background-color: orange ;
    border-radius: 8px;
    font-family: 'Baloo 2', sans-serif;
}