body {
    margin: 0px;
    padding: 0px;
    gap: 0px;
    height: 100vh;
    background-color: #fff4f6 ;
    background-image: url(/assets/img/moldura.svg);
    background-size: 1800px;         
    background-position: center;    
    background-repeat: no-repeat;
    overflow-y: hidden;
}

div {
  display: flex;                
  justify-content: center;     
  align-items: center;         
  flex-direction: column;     
  text-align: center;          
}

img {
    padding-top: 150px;
    height: 300px;
    width: auto;
    
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    font-weight: lighter;
    color: #553c21;
    padding-bottom: 30px;
}

a {
  text-decoration: none;
  font-family: 'Baloo 2', sans-serif;
  font-size: 50px;
  background-color: orange;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #553c21;
}